#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: antiquewhite;
  width: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box{
  width: 140px;
  height: 140px;
  border: 1px solid black;
  color: black;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}